  * {
      padding: 0;
      margin: 0;
      border: 0;
      outline: 0;
  }
  
  button {
      cursor: pointer;
  }

  body {
    background: #1e242d;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
  }

  ul { list-style-type: none; }

  a { color: inherit; }

  /* ============ Responsive ============ */
 
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  @media (max-width: 1200px) {
    .product {
      max-width: 31% !important;
    }
  }

  @media (max-width: 735px) {
    .product {
      padding: 2% !important;
      max-width: 46% !important;
    }
  }

  /* ==================================== */

  .container {
    padding-right: 2rem;
    padding-left: 2rem;
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }

  #portfolio-gallery {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .menu-items {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  .menu {
    padding: 20px;
  }

  .menu-itens {
    padding: 20px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .menu-active {
    border-bottom: 2px solid;
    color: rgb(114, 166, 245)
  }

  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product {
    padding: 1%;
    max-width: 23%;
    margin-bottom: -6%;
  }

  .product-img {
    border-radius: 15%;
    width: 100%;
    height: 75%;
  }

  .item-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms;
    animation: openItemAnimation 300ms forwards;
  }

  @keyframes openItemAnimation {
    from {
      width: 0%;
      height: 0%;
      transform: scale(0);
      padding: 0%;
    }
    to {
      padding: 1%;
      width: 100%;
      transform: scale(1);
    }
  }

  .item-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
    animation: closeItemAnimation 200ms forwards;
  }

  @keyframes closeItemAnimation {
    from {
      width: 100%;
      transform: scale(1);
      padding: 1%;
    }
    to {
      width: 0%;
      transform: scale(0);
      height: 0%;
    }
  }

  .show-more {
    display: flex;
    justify-content: center;
  }

  .show-more-button {
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 10px;
  }

  .show-more-button:hover {
    opacity: 0.8;
  }