* {
  padding: 0px;
  margin: 0;
}

body {
  background: #333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

a { color: inherit; }

.container {
  padding-right: 2rem;
  padding-left: 2rem;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  
}

  /* ========  Menu Items ======== */

  #portfolio-gallery {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .menu {
    padding: 20px;
  }

  .menu-itens {
    padding: 20px;
    cursor: pointer;
  }

  .menu-active {
    background: rgb(14, 9, 85);
  }

  .items {
    margin-left: auto;
    margin-right: auto; 
  }

  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .product-img {
    width: 245px;
    height: 270px;
    padding: 20px;
    border-radius: 15%;
  }

  .item-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms;
    animation: openItemAnimation 300ms forwards;
  }

  @keyframes openItemAnimation {
    from {
      width: 0px;
      height: 0px;
      padding: 0px;
    }
    to {
      padding: 20px;
      width: 245px;
      height: 270px;
    }
  }

  .item-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
    animation: closeItemAnimation 200ms forwards;
  }

  @keyframes closeItemAnimation {
  from {
    width: 245px;
    height: 270px;
  }
  to {
    width: 0;
    height: 0;
  }
  }