* {
    padding: 0px;
    margin: 0;
}

body {
    background: #333;
    color: #fff;
    padding: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
  }

  a { color: inherit; }

.menu {
    padding: 20px;
}

.menu-itens {
    padding: 20px;
    cursor: pointer;
}

.menu-active {
    background: rgb(14, 9, 85);
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    transition: all 500ms ease-in-out;
}

.product {
    transition: all 500ms ease-in-out;
}

.product-img {
    width: 250px;
    height: 270px;
    padding: 20px;
}
  

.item-enter {
    transform: scale3d(0, 0, 0);
    transition: all 300ms ease-in-out;
  }

  .item-enter-active {
    transform: scale3d(1, 1, 1);
    transition: all 300ms ease-in-out;
  }

  .item-exit {
    transform: scale3d(1, 1, 1);
    transition: all 300ms ease-out;
  }

  .item-exit-active {
    transform: scale3d(0, 0, 0);
    transition: all 300ms ease-out;
  }